.container{
    
    align-items: center;
    

    

}

.row{

    justify-items: flex-start;
}

#crystalCollector{
    color: white;
    background-color: darkorange;
    width: 33.33%;
    text-align: center;
    height: 60px;
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
    margin: 5px;

}

#insructions
{
    color: green;
    background-color: tan;
    width: 50%;
    text-align: left;
    height: 325px;
    font-family: 'Times New Roman', Times, serif;
    margin: 5px;

}

#score{
    color: purple;
    background-color: seagreen;
    width: 28%;
    height: 100px;
    margin: 5px;
    font-size: 50px;

}

#winsAndLosses{
    color: green;
    background-color: aqua;
    width: 25%;
    margin: 5px;
    height: 100px;
    padding: 0px;

}


#totalScore{
    color: white;
    background-color: teal;
    margin: 5px;
    width: 30%;
    height: 25px;
    padding: 10px;
    font-size: 10px;

    
}

#scoreDisplay{
    color: white;
    background-color: teal;
    margin: 5px;
    height: 100px;
    width: 30%;
    font-size: 50px;

}

body{
    background-image: url("assets/images/trees.png");
}

#blueGem{
    height:60px;
    width: 60px;
}